<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Details</h1>
    <table>
        <tr>
            <th>Student Rn</th>
            <th>Student name</th>
            <th>Student Email</th>
            <th>Student Marks</th>
            <th>Student Address</th>
            <th>Student Phone</th>

            </tr>

            {% for stu in data %}
            <tr>
                <td>{{stu.rn}}</td>
                <td>{{stu.name}}</td>
                <td>{{stu.email}}</td>
                <td>{{stu.marks}}</td>
                <td>{{stu.address}}</td>
                <td>{{stu.phone}}</td>


                </tr>
            {% endfor %}

    </table>
</body>
</html>